// Variables
$colorPrincipal: #ae8ed8;
$colorSecundario: #a594bdcc;
$colorAcento: #F9C784;
$colorFondo: #FFFFFF;

/* Reset de estilos para evitar inconsistencias entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: &$colorFondo;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Estilos para el cuerpo principal */
section {

    h2 {
        margin-bottom: 10px;
    }
}

// Gestor Turnos Estilos

#GestorTurno {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    background-color: $colorSecundario;
    padding: 10px;
    height: 100%;
    margin-bottom: 10px;

    #opciones {
        display: flex;
        padding: 10px;
        margin: 5px;
        justify-content: center;
        gap: 8px;
        width: 100%;
    }

    .Inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: center;

        .EstiloInput {
            border-radius: 10px;
            padding: 5px;
            width: 50%;
        }
    }
}

@media(max-width:576px) {
    #GestorTurno {
        width: 100%;
    }
}

.ButtonDelete {
    margin-left: 10px;
}

// Background image

.img-background {
    background-image: url("../img/background.jpg");
    resize: both;
    background-color: $colorAcento;
    overflow: auto;
    background-attachment: fixed;
    background-size: cover;
}

//Boton Whatsapp
#WhatsappButton {
    position: fixed;
    bottom: 30px;
    /* Ajusta la distancia desde la parte inferior como prefieras */
    right: 20px;
    /* Ajusta la distancia desde la derecha como prefieras */
    z-index: 1000;

    /* Asegura que esté por encima de otros elementos */
    a {
        display: block;
        width: 60px;
        /* Ancho del botón */
        height: 60px;
        /* Altura del botón */
        background-color: #25d366;
        /* Color de fondo de WhatsApp */
        border-radius: 50%;
        /* Para hacer un círculo */
        text-align: center;
        padding: 10px;
    }

    img {
        width: 40px;
        /* Ajusta el tamaño del icono de WhatsApp */
        height: 40px;
        display: block;
        margin: 0 auto;
    }
}