// Variables
$colorPrincipal: #4BA3C3;
$colorSecundario: #7FB685;
$colorAcento: #F9C784;
$colorFondo: #FFFFFF;

/* Reset de estilos para evitar inconsistencias entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: &$colorFondo;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Estilos para el cuerpo principal */
section {
    border-bottom: 1px solid #ccc;
    h2{
        margin-bottom: 10px;
    }
}

