// Variables
$colorPrincipal: #4BA3C3;
$colorSecundario: #7FB685;
$colorAcento: #F9C784;
$colorFondo: #FFFFFF;

/* Reset de estilos para evitar inconsistencias entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: &$colorFondo;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Estilos para el cuerpo principal */
section {
    border-bottom: 1px solid #ccc;

    h2 {
        margin-bottom: 10px;
    }
}

// Gestor Turnos Estilos

#GestorTurno {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    background-color: rgba(75, 163, 195, 0.7333333333);
    padding: 10px;
    height: 100%;
    margin-bottom: 10px;

    #opciones {
        display: flex;
        padding: 10px;
        margin: 5px;
        justify-content: flex-end;
        gap: 8px;
    }

    .Inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .EstiloInput{
            border-radius: 10px;
            padding: 5px;
        }
    }
}


// Background image

.img-background {
    background-image: url("../img/background.jpg");
    resize: both;
    background-color: $colorAcento;
    overflow: auto;
    background-attachment: fixed;
    background-size: cover;
}