/* Estilos específicos para la sección de Servicios */
.servicios ul {
    list-style-type: none;
}

.servicios li:before {
    content: "\2022";
    margin-right: 10px;
}

.carousel-item{
    img{
        object-fit: cover;
        height: 800px;
    }
    
    h2,
    p{
        text-shadow: 10px 10px 10px black;
    }
}