/* Estilos para el encabezado */
header {
    background-color: aquamarine;
    color: black;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;

    img {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}