/* Estilos para el encabezado */

#header {
    background-color: $colorPrincipal;
    color: #fff;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;

    img {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

main {
    margin-top: 5.125rem;
}

@media(min-width:320px) and (max-width:992px){
    main{
        margin-top: 2rem;
    }
}